img {width: 60px}



.form-control {vertical-align: top;}


#DisplayAns {font-size: 100px}

}
        label, #leavingFrom, #goingTo{
          width: 300px;
        }


 #card { width:200px;

height: 200px;

  }

         
          
        


        body {background-color:   #a0a0a0;}


        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}